@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf) {
  $src: null;

  $extmods: (
          eot: "?",
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype",
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $path-to-fonts: "../fonts/";
    $full-path: $path-to-fonts + $name + "/" + $path + "/" + $path + "." + $extmod;
    $src: append($src, url(quote(#{$full-path})) format(quote(#{$format})), comma);
  }

  @font-face {
    font-weight: $weight;
    font-family: quote($name);
    font-style: $style;
    src: $src;
  }
}

@include font-face(HelveticaNeue, HelveticaNeue-Light, 300, normal);
